<meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="https://gitlab.com/alexzv104/my-syte/-/blob/main/.gitlab-ci.yml">Schema</a>
      <a href="https://progorod43.ru/userfiles/picitem/img-58805-15389986652814.jpg">Picture</a>
    </div>

    <h1>My future home</h1>
    <img src="https://progorod43.ru/userfiles/picitem/img-58805-15389986652814.jpg">
  </body>
</html>
